*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; /* fw300 & fw700 */
  width: 100vw;
  height: 100vh;
  background-color: #11172c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #80acd9;
}

h1 {
  font-family: "Calistoga", cursive;
}

button {
  font-family: inherit;
  align-items: center;
  justify-content: center;
  color: #80acd9;
  display: flex;
  width: 10em;
  background-color: #02081d;
  border-radius: 2em;
  border: solid 1.5px #80acd9;
  gap: 1em;
  padding: 0em 1em;
}

button:hover {
  cursor: pointer;
  color: #02081d;
  background-color: #80acd9;
  border-color: #02081d;
}

button:hover svg path {
  fill: #02081d;
}

body .onHover {
  cursor: pointer;
  color: #02081d;
  background-color: #80acd9;
  border-color: #02081d;
}

.onHover svg path {
  fill: #02081d;
}

.container {
  padding: 2em 3.5em;
  width: 75%;
  height: 75%;
  background-color: #02081d;
  border-radius: 1em;
}

.button-and-dropdown {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
  gap: 1em;
}

.refresh-svg {
  transform: scale(0.7);
}

.dropdownMenu {
  position: relative;
}

.dropdownSelected {
  min-width: 12em;
  justify-content: space-between;
  padding: 0.85em 1.5em;
  display: inline-flex;
  border: solid 1.5px #80acd9;
  border-radius: 0.5em;
}

.dropdownSelected:hover {
  cursor: pointer;
}

.dropdownSelected p {
  margin: 0;
}

.dropdown-triangle {
  width: 10px;
  rotate: 0deg;
  transition: rotate 0.4s;
}

.dropdown-triangle-flip {
  rotate: 180deg;
  transition: rotate 0.4s;
}

.dropdownList {
  display: none;
  top: 52px;
  width: 12em;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 1em 1.5em;
  background-color: #02081d;
  border: 1px solid #80acd9;
  border-radius: 0.5em;
}

.dropdownList li {
  margin: 0.25em 0;
}

.dropdownList li:hover {
  cursor: pointer;
  color: #99bde1;
}

.forecast-container {
  width: 100%;
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.weatherCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 2px #80acd9;
  min-width: 23%;
  width: 1fr;
  border-radius: 4px;
  padding: 2.5em 2em;
}

.weatherCard p {
  margin: 0;
  font-weight: 300;
}
.weatherCard h3 {
  margin: 0;
  font-weight: 700;
}
.weatherCard h2 {
  margin: 0;
  font-weight: 700;
}

.temperature-and-icon {
  align-items: center;
  gap: 0.25em;
  display: flex;
  font-size: 1.75rem;
  margin: 1em 0;
}

.aditional-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.aditional-stats h4 {
  margin: 0;
}

.attribution {
  padding: 1em 2em;
  background-color: rgba(231, 231, 255, 0.7);
  color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
